<div class="row">
    {% for movie in movies %}
        <div class="col-md-3 mb-4">
            <div class="card">
                <a href="{% url 'movie_detail' movie.id %}">
                    <img src="{{ movie.poster_url }}" class="card-img-top" height="350">
                    <div class="card-body">
                        <h6>{{ movie.title }}</h6>
                        <p>⭐ {{ movie.rating }}</p>
                    </div>
                </a>
            </div>
        </div>
    {% empty %}
        <p>No movies found.</p>
    {% endfor %}
</div>